body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif; /*Aplicamos o heredamos esta font stack a todos los elementos*/
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif; /*Se aplica esta fuente a los elementos h1*/
}

p {
  font-weight: normal; /*Que tan negrita es la fuente */
  font-style: italic; /*Establece el estilo de la fuente*/
  font-size: 1rem; /*Tamaño de la fuente*/
  color: #333; /*Color de la fuente*/
}
