body {
  margin: 10px;
}

.container {
  height: 90vh;
  display: flex;
  border: 3px solid lightgray;
  justify-content: center; /*Alinea los elementos atraves del Main Axe*/
  align-items: center; /*Alinea los elementos atraves del cross axe*/
}

.box {
  flex-basis: 10rem;
  flex-grow: 1;
  width: 5rem;
  height: 5rem;
  background-color: gold;
  margin: 1rem;
}

.box-one {
  flex-basis: 5rem;
}
