@font-face {
  font-family: sfprodisplay;
  src: url("./fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

body {
  background-color: #f0f2f5;
}

.login-box-container {
  display: flexbox;
  width: 25rem;
  height: 10rem;
  margin-left: 1rem;
}
.login-box-styles {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
