@font-face {
  font-family: sfprodisplay;
  src: url("./fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

body {
  background-color: #f0f2f5;
}

.login-box-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.login-box-styles {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.login-text-box {
  display: block;
  width: 20rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 1rem 1rem;
}

.login-text-box:focus {
  outline: lightgray;
}

.login-text-box::placeholder {
  color: gray;
  font-family: "sfprodisplay";
}

.login-btn button {
  width: 22rem;
  background-color: #166fe5;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.8rem;
  font-family: "sfprodisplay";
  font-size: 1.2rem;
  font-weight: 600;
}

.olvidar-password a {
  color: #166fe5;
  font-family: "sfprodisplay";
  font-size: 0.9rem;
}

.create-account-btn button {
  background-color: #42b72a;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.8rem;
  font-family: "sfprodisplay";
  font-size: 1rem;
  font-weight: 600;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-and-text {
  width: 500px;
}
.logo-and-text img {
  width: 19rem;
  height: 6.7rem;
}

.logo-and-text h2 {
  font-family: "sfprodisplay";
  font-size: 26px;
  font-weight: normal;
  line-height: 2rem;
  margin-left: 2rem;
  margin-top: -20px;
}
