@font-face {
  font-family: monserratCustom;
  src: url("../../../fonts/fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
  background-color: #eaeded;
}
.box {
  width: 234px;
  height: 300px;
  border: 1px white solid;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.product-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  text-align: center;
  margin-left: 1rem;
}

.best-price-btn {
  border: 1px solid #833ab4;
  font-family: "monserratCustom";
  font-size: 10px;
  color: #833ab4;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
  width: 5rem;
}

.product-title {
  font-size: 14px;
  font-family: "monserratCustom";
  color: black;
  text-align: left;
}

.price {
  font-family: "monserratCustom";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
}

.price-anterior {
  color: #787885;
  font-family: "monserratCustom";
  font-size: 14px;
  text-decoration: line-through;
}

.rebaja {
  color: #34eb83;
  font-weight: 700;
  font-family: "monserratCustom";
  font-size: 14px;
  margin-left: 10px;
}
