.tweet {
  border: 3px solid lightgray;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left; /*El elemento flotara al lado izquierdo de su contenedor el resto
  de los elementos flota alrededor de este*/
  margin-right: 1rem;
}

.tweet ::after {
  content: "";
  display: block;
  clear: both;
}
